<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.microservice.dao.IAuthorityDao">
    <resultMap id="BaseResultMap" type="com.cloud.user.microservice.model.Authority">
        <id column="ID" jdbcType="VARCHAR" property="Id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
        <result column="SORT_NUMBER" jdbcType="INTEGER" property="sortNum" />
        <result column="STYLE" jdbcType="VARCHAR" property="style" />
        <result column="ICON" jdbcType="VARCHAR" property="icon" />
        <result column="AVAILABLE" jdbcType="VARCHAR" property="available" />
        <result column="APP_NAME" jdbcType="VARCHAR" property="appName"/>
        <result column="DEEP" jdbcType="NUMERIC" property="deep"/>
        <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType"/>
        <result column="ITEM_URI" jdbcType="VARCHAR" property="itemUri"/>
    </resultMap>
    <resultMap id="PageResultMap" type="com.cloud.user.microservice.model.vo.AuthoritiesVO">
        <id column="ID" jdbcType="VARCHAR" property="Id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PARENT_NAME" jdbcType="VARCHAR" property="parentName" />
        <result column="ICON" jdbcType="VARCHAR" property="icon" />
        <result column="SYSTEM_CHN" jdbcType="VARCHAR" property="appName"/>
        <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType"/>
        <result column="ITEM_URI" jdbcType="VARCHAR" property="itemUri"/>
        <result column="APP_NAME" jdbcType="VARCHAR" property="appId"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,NAME,PARENT_ID,SORT_NUMBER,STYLE,ICON,AVAILABLE,APP_NAME,DEEP,ITEM_TYPE,ITEM_URI
    </sql>
    <insert id="addAuthority" parameterType="com.cloud.user.microservice.dto.requestDTO.AuthorityReqDTO">
        INSERT INTO authority
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="name != null">
                NAME,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="sortNum != null">
                SORT_NUMBER,
            </if>
            <if test="style != null">
                STYLE,
            </if>
            <if test="icon != null">
                ICON,
            </if>
            <if test="available != null">
                AVAILABLE,
            </if>
            <if test="appName != null">
                APP_NAME,
            </if>
            <if test="itemType != null">
                ITEM_TYPE,
            </if>
            <if test="itemUri != null">
                ITEM_URI,
            </if>
            <if test="deep != null">
                DEEP,
            </if>
            UPDATE_AT,CREATE_AT
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="sortNum != null">
                #{sortNum,jdbcType=INTEGER},
            </if>
            <if test="style != null">
                #{style,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="itemType != null">
                #{itemType,jdbcType=VARCHAR},
            </if>
            <if test="itemUri != null">
                #{itemUri,jdbcType=VARCHAR},
            </if>
            <if test="deep != null">
                1,
            </if>
            SYSDATE(),SYSDATE()
        </trim>
    </insert>

    <select id="getAllAuthorities" resultMap="BaseResultMap" parameterType="com.cloud.user.microservice.dto.requestDTO.AuthorityReqDTO">
        SELECT authority.ID,NAME,PARENT_ID,SORT_NUMBER,STYLE,ICON,AVAILABLE,APP_NAME,DEEP,ITEM_TYPE,ITEM_URI
        FROM authority
        LEFT JOIN system_info  ON authority.APP_NAME = system_info.ID
        <if test="userId != null and userId != ''">
            LEFT JOIN authority_role ON authority_role.AUTH_ID = authority.ID
        </if>
        WHERE authority.AVAILABLE = '1'
        <if test="appName != null and appName != ''">
            AND system_info.SYSTEM_NAME = #{appName,jdbcType=VARCHAR}
        </if>
        <if test="itemType != null and itemType != ''">
            AND authority.ITEM_TYPE = #{itemType,jdbcType=VARCHAR}
        </if>
        <if test="userId != null and userId != ''">
            AND authority_role.ROLE_ID IN
            (SELECT ROLE_ID FROM user_role WHERE USER_ID = #{userId,jdbcType=VARCHAR})
        </if>
    </select>

    <select id="getAllAuthorityInfo" parameterType="com.cloud.user.microservice.dto.requestDTO.AuthorityReqDTO" resultMap="PageResultMap">
        SELECT
	      A.ID,A.`NAME`,A.ICON,A.ITEM_URI,B.`NAME` AS PARENT_NAME,S.SYSTEM_CHN,A.APP_NAME,A.PARENT_ID
        FROM
	      authority A
        INNER JOIN authority B ON A.PARENT_ID = B.ID
        LEFT JOIN system_info S ON A.APP_NAME = S.ID
        WHERE
	      A.AVAILABLE = '1'
        <if test="appName != null and appName != ''">
            AND S.SYSTEM_CHN = #{appName,jdbcType=VARCHAR}
        </if>
        <if test="itemType != null and itemType != ''">
            AND A.ITEM_TYPE = #{itemType,jdbcType=VARCHAR}
        </if>
        <if test="appId != null and appId != ''">
            AND A.APP_NAME = #{appId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getAuthorityInfo" resultMap="BaseResultMap" parameterType="com.cloud.user.microservice.dto.requestDTO.AuthorityReqDTO">
        SELECT <include refid="Base_Column_List"/> FROM authority WHERE 1 = 1
        <if test="name != null and name != ''">
            AND NAME = #{name,jdbcType=VARCHAR}
        </if>
        <if test="id != null and id != ''">
            AND ID = #{id,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null and parentId != ''">
            AND PARENT_ID = #{parentId,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="allocationAuth" parameterType="com.cloud.user.microservice.dto.requestDTO.AllocationAuthRequest">
        INSERT INTO authority_role VALUES
        <foreach collection="authIds" item="item" separator=",">
            (UUID(),#{item,jdbcType=VARCHAR},#{roleId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="getUserPrivileges"  resultMap="BaseResultMap">
        SELECT A.* FROM authority A
		LEFT JOIN authority_role T ON T.AUTH_ID = A.ID
        WHERE T.ROLE_ID IN (
              SELECT R.ROLE_ID FROM user_role R LEFT JOIN user_info U ON U.ID = R.USER_ID
        WHERE U.ID = #{userId,jdbcType=VARCHAR})
    </select>
    <delete id="deleteAuthoritiesByRoleId">
        DELETE FROM authority_role WHERE ID IN
        (SELECT temp.ID FROM(SELECT authority_role.ID AS ID FROM authority_role
          LEFT JOIN authority ON authority_role.AUTH_ID = authority.ID
        WHERE authority_role.ROLE_ID IN
        <foreach collection="roleIds" separator="," open="(" close=")" item="roleId">
            #{roleId,jdbcType=VARCHAR}
        </foreach>
        AND authority.ITEM_TYPE = #{itemType,jdbcType=VARCHAR}) temp)
    </delete>
    <!--根据角色id查询角色权限列表-->
    <select id="getAuthoritiesByRoleId" resultMap="BaseResultMap">
        SELECT A.* FROM authority_role R
        LEFT JOIN authority A ON R.AUTH_ID = A.ID
        WHERE R.ROLE_ID = #{roleId,jdbcType=VARCHAR}
    </select>
    <!--根据id更新权限信息-->
    <update id="updateAuthority" parameterType="com.cloud.user.microservice.model.Authority">
        UPDATE authority SET
        NAME = #{name,jdbcType=VARCHAR},
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
        STYLE = #{style,jdbcType=VARCHAR},
        ITEM_URI = #{itemUri,jdbcType=VARCHAR},
        APP_NAME = #{appName,jdbcType=VARCHAR},
        UPDATE_AT = SYSDATE()
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>
    <!--根据id查询权限信息-->
    <select id="getAuthoritiesById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM authority WHERE ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--根据id删除权限/菜单信息-->
    <delete id="deleteAuthorityById">
        DELETE FROM authority WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>
</mapper>
